<div class="container-fluid mt-3" style="max-width: 600px">
  <div class="category d-flex flex-row" style="justify-content: space-between">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{#if categoryName}}{{categoryName}}{{else}}全部{{/if}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" href="/">
            <i class="fa-solid fa-align-justify mx-2" style="color:rgb(73, 51, 47)"></i>全部
          </a>
        </li>
        {{#each categories}}
        <li>
          <a class="dropdown-item" href="/?category={{this.name}}">
            <i class="{{this.icon}} mx-2" style="color:rgb(73, 51, 47)"></i>{{this.name}}
          </a>
        </li>
        {{/each}}
      </ul>
    </div>

    <div class="addExpense mx-5">
      <a class="btn btn-secondary btn" href="/expenses/new">ADD</a>
    </div>
  </div>

  <ul class="list-group mt-3">
    {{#each expenses}}
    <li class="list-group-item">
      <div class="d-flex row">
        <div class="col-2 d-flex flex-column house" style="margin: auto">
          <i class="{{this.icon}}" style='color: tomato'></i>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <span>{{this.name}}</span>
          <span>{{this.date}}</span>
        </div>
        <div class="col-3 d-flex flex-column justify-content-center ">
          <span>${{this.cost}}</span>
        </div>
        <div class="col-3 d-flex align-items-center " style="margin-left: 20px">
          <a href="/expenses/{{this._id}}/edit" class="text-decoration-none"><i class="fa-solid fa-file-pen mr-3"
              style='color: tomato'></i></a>
          <form action='/expenses/{{this._id}}?_method=DELETE' method='POST'>
            <button type='submit' class='btn text-decoration-none'>
              <i class="fa-solid fa-trash-arrow-up" style='color: tomato'></i>
            </button>
          </form>

        </div>

      </div>

    </li>
    {{/each}}
  </ul>
  <div class="d-flex flex-row justify-content-center mt-5" style="max-width: 600px">
    <span class="text-center " style="font-size: 25px; color:gray">TOTAL:</span>
    <span class="text-center mx-3" style="font-size: 25px; color:gray">${{totalAmount}}</span>


  </div>
  {{!-- <div class="text-center total mt-5" style="font-size: 25px">TOTAL:$ {{totalAmount}}
  </div> --}}
</div>